@import url ('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Noto serif, serif;
    font-weight: 300;
    color: #851285;
}

/* headings and logo */
h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #581058;
}

#logo {
    float: left;
    font-size: 280%;
}