@import url ('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Noto serif, serif;
    font-weight: 300;
    color: #851285;
}

/* headings and logo */
h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #581058;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 72px;
}

#menu li {
    float: right;
    list-style-type: disc;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 4px solid #851285;
}

.active {
    border-bottom: 4px solid #851285;
    ;
}

/* footer */

footer {
    height: 150px;
}

.social-media-network {
    text-align: center;
}

.social-media-network>li {
    display: inline;
}

.social-media-network i {
    font-size: 162%;
    margin: 2%;
    padding: 6%;
    color: #851285;
}