@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Noto serif, serif;
    font-weight: 300;
    color: #851285;
}

/* headings and logo */
h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #581058;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 85px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 3px solid #851285;
}

.active {
    border-bottom: 3px solid #851285;
}

/* main image */

#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/happy-group.jpg') no-repeat center center;

    /* animations zoom effects on loading */
    animation-name: main-img-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creat zoom lever for main image */
@keyframes main-img-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}


/* footer */

footer {
    height: 150px;
}

.social-media-network {
    text-align: center;
}

.social-media-network li {
    display: inline;
}

.social-media-network i {
    font-size: 162%;
    margin: 2%;
    padding: 6%;
    color: #851285;
}

#form {
    margin-top: 2rem;
}

/* fit ethos */

#fit-ethos {
    height: 600px;
}

#left-abt {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-abt {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-abt {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}

.left-abt-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#hey {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#square-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;

}

#square-cover-bg {
    background: url('../images/yoga-flexible.jpg') no-repeat center center;
    height: 100%;
}